.heart-icon {
  color: red;
  border: none;
}

.heart-icon-filled {
  color: red;
  background-color: red;
  border: none;
}

.card-link {
  background: none;
  border: none;
}

.card {
  border: 1px solid #ddd; /* Light grey border */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Horizontal-Offset Vertical-Offset Blur-Radius Shadow-Color */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.card:hover {
  transform: translateY(-5px); /* Slightly raise the card on hover */
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3); /* Increase shadow size on hover */
}

.card-title {
  color: #e5b55c !important;
}
.card-subtitle {
  color: #0a4275 !important;
}
