.table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  border: 2px solid #ddd;
  border-color: #0a4275 !important;
}

.th,
.td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e5b55c !important;
}

@media (max-width: 991px) {
  .btn {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}
